/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center; /* Center content */
}

#myBox {
  border-radius: 15px;
  width: 80%;
  max-width: 400px; /* Set a maximum width for better readability */
  background-color: #E5D4FF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for the box */
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px;
  text-align: center;
}

h1 {
  color: red; /* Blue heading */
  font-size: 30px; /* Larger font size for the heading */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selected-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*browse*/
#input-image {
  margin-bottom: 10px;
  color: black; /* Change the text color to blue */
  background-color: #F1EAFF; /* Change the background color on hover (optional) */
  border: 2px solid #D0A2F7; /* Add a blue border (optional) */
  border-radius: 5px; /* Add rounded corners (optional) */
  padding: 5px; /* Adjust padding for better appearance (optional) */
  cursor: pointer; /* Show a pointer cursor on hover */
  transition: background-color 0.3s ease;
}

#input-image:hover {
  background-color: #D0A2F7; /* Change the background color on hover (optional) */
  color: white; /* Change the text color on hover (optional) */
}

button.btn-success {
  background-color: #D0A2F7; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn-success:hover {
  background-color: #F1EAFF;
}

#output-container {
  margin-top: 20px;
}

h2 {
  font-size: 18px; /* Larger font size for confidence text */
  color: #666; /* Slightly darker text color */
}
