ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: white;
    color: black;
  }

  .actived {
    background-color:#4a454b;
  }

  .profile {
    /*overflow: hidden;
    */
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
    margin: 50px 50px 100px 0px;
  }

  .desc{
    margin-right: 50px;
  }

  .box{
    color: antiquewhite;
    }
.pgimg{
    width: 300px;
}
.button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

p{
  font-size: 16px;
  color: white;
}

.pad{
  margin-left: 200px;
  margin-right: 200px;
}

.gradtext{
  
  background-color: #4158d0;
  background-image: linear-gradient(43deg,#a162e8,#f7ce68 46%,#85ffbd);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


body{
  background: rgba(0, 0, 0, 0.9) url('img/NewBG.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
.imgIcon{
  width: 100px;
  height: 100px;
}
.imgSkills{
  width: 40px;
}

h2{
  color: white;
}

.imgContact{
  width: 30;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
